*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --primery-text-color: #757575;
    --title-color: #212121;
    --accent-color: #FFFFFF;
    --blue-accent-color: #2196F3;
    --first-background-color:  #2F303A;
}

body {
    
    background-color: #E5E5E5;
    color: var(--primery-text-color);

    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
    margin: 0px;
}

li{
    margin: 0px;
 }

h1{
    margin: 0px;
}

h2,h3{
    color: var(--title-color);
    
}


/* conteiner */
.conteiner{
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var( --accent-color);
    
}
.header{
        display: flex;
        align-items:center;
        

}

/* logo */
.logo{
    margin-left: 215px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 0.73;
  
    letter-spacing: 0.03em;
}
.logo-web {
    color: var(--blue-accent-color);
}
.logo-studio{
    color: #000000;
}

/*navigation*/
.navigation-list{
    display: flex;
}

.nav-item{
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.86;
    letter-spacing: 0.02em;
    color: var(--title-color); 
    cursor: pointer;
}
.nav-item:hover,
.nav-item:focus{
    color: var(--blue-accent-color);   
}
.nav-item:not(first-child){
    margin-left: 50px;
}

.nav-item li{
    text-align: center;
}


/* contact */
.contact-list{
    margin-left: auto;
    margin-right: 215px;
}
.contact{
      font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.85;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}
.contact:hover,
.contact:focus{
    color: var(--blue-accent-color);
}
.contact-list .contact-list-item + .contact-list-item{
    margin-left: 50px;
}

.contact-list{
    display: flex;
}

/* block main */
.main{
   
    text-align: center;
    background-color: var(--first-background-color);
}
.main-titel{

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 30px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--accent-color);
}
.anchor{
    padding: 10px 35px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
   
    text-align: center;
    letter-spacing: 0.06em;
    
    background-color:  var(--blue-accent-color) ;
    color: #FFFFFF;

    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* block sect-2 */
.sect-2{
    background-color: #E5E5E5;
}
.sect-2titel{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.sect-2text{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
}

/* block sect-3 */
.sect-3{
    background-color: #E5E5E5;   
}
.sect-3title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* block team */
.team{
    background-color: #F5F4FA;
}
.team-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-position{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/* block footer */
.footer{
    background-color: var(--first-background-color);
}
.footer-logo{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer-logo-studio{
    color: #FFFFFF;
}

.address{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-anchor{
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #ACACB0;
}
